/* Section Home */

@keyframes example {
  from {
    top: 0px;
  }
  to {
    top: 50%;
  }
}

.home {
  background-image: url(https://cdn.wallpapersafari.com/19/53/4betzr.jpg);
  min-height: 88vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  animation-name: example;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation: example 5s 1;
}
.mainText h1 {
  font-family: "Kanit", sans-serif;
  font-weight: 950;
  font-size: 4rem;
}
.mainText p {
  font-weight: 500;
  font-size: 2rem;
}
.mainText button {
  background-color: var(--yellow-theme-color);
  border-radius: 40px;
  padding: 15px 40px;
  font-weight: 500;
  font-size: 2rem;
}

/* choose car section */
.chooseCar {
  margin-top: 30px;
  background-color: rgb(2, 2, 2);
}
.chooseCarText {
  padding: 20px 0px;
  text-align: center;
  color: #fff;
}
.chooseCarText .para {
  font-weight: 500;
  font-size: 2rem;
}
.chooseCarText .heading {
  font-weight: 500;
  font-size: 4rem;
}

.carCardClass {
  text-align: center;
  width: 18rem;
  margin: 40px auto;
  object-fit: cover;
  border: 5px solid #fff;
  border-radius: 25px;
  background-color: #000;
  color: #fff;
}

.carCardClass h5 {
  font-weight: 950;
  font-size: 2rem;
}
.carCardClass img {
  border-radius: 25px;
  padding: 15px;
  height:160px;
}
.carCardClass button{
  border: 1px solid #fff;
  border-radius: 25px;
  color: #fff;
}

/* responsive */

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .mainText h1 {
    font-weight: 950;
    font-size: 2rem;
  }

  .mainText p {
    font-weight: 500;
    font-size: 1rem;
  }

  .mainText button {
    border-radius: 40px;
    padding: 10px 30px;
    font-size: 1rem;
  }
  .chooseCarText .para {
    font-weight: 300;
    font-size: 1rem;
  }
  .chooseCarText .heading {
    font-weight: 500;
    font-size: 3rem;
  }
  .carCardClass {
    width: 18rem;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .mainText h1 {
    font-weight: 950;
    font-size: 2rem;
  }

  .mainText p {
    font-weight: 500;
    font-size: 1rem;
  }

  .mainText button {
    border-radius: 40px;
    padding: 10px 30px;
    font-size: 1rem;
  }
  .carCardClass {
    width: 14rem;
  }

  .carCardClass h5 {
    font-size: 1rem;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .mainText h1 {
    font-weight: 950;
    font-size: 1rem;
  }

  .mainText p {
    font-weight: 500;
    font-size: 0.5rem;
  }

  .mainText button {
    border-radius: 40px;
    padding: 6px 20px;
    font-size: 0.5rem;
  }
  .chooseCarText .para {
    font-weight: 300;
    font-size: 1rem;
  }
  .chooseCarText .heading {
    font-weight: 500;
    font-size: 3rem;
  }
  .carCardClass {
    width: 25rem;
  }
  .carCardClass img {
    height: 10rem;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .mainText h1 {
    font-weight: 500;
    font-size: 2rem;
  }

  .mainText p {
    font-weight: 300;
    font-size: 1rem;
  }

  .mainText button {
    border-radius: 40px;
    padding: 10px 30px;
    font-size: 1rem;
  }

  .chooseCarText .para {
    font-weight: 300;
    font-size: 1rem;
  }
  .chooseCarText .heading {
    font-weight: 500;
    font-size: 3rem;
  }
  .carCardClass {
    width: 15rem;
  }
}
